<main class="container mx-auto max-w-2xl px-4 py-8 mt-16 sm:mt-20">
    <div class="bg-white rounded-xl shadow-lg overflow-hidden transition-colors duration-300">

        <div class="flex items-center justify-between px-6 py-4 border-b border-gray-200">
            <h1 class="text-xl font-bold text-gray-800">Edit User</h1>

            <% if (locals.authUser.id === user.id) { %>
            <a href="/user/<%= user.id %>/edit" class="bg-sky-500 text-white text-sm font-medium px-4 py-2 rounded-lg ml-4">
                編集
            </a>
            <% } %>
        </div>

        <div class="p-6">
            <div class="flex flex-col items-center space-y-4">
                <h2 class="text-xl font-bold text-gray-800"><%= user.name %></h2>
                <div class="relative group">
                    <img
                        id="avatar-preview"
                        src="<%= user.avatar_url ? user.avatar_url : '/images/no-avatar.png' %>"
                        alt=""
                        class="w-32 h-32 rounded-full object-cover border-4 border-gray-100 shadow-sm">
                </div>
            </div>
        </div>
    </div>

    <!-- 投稿リスト -->
    <%- include('../components/feedList', { feeds }) %>
</main>