<div
    class="flex items-center justify-center min-h-screen bg-slate-100 dark:bg-slate-900 text-slate-800 dark:text-slate-200">
    <div class="w-full max-w-md p-8 space-y-8 bg-white rounded-2xl shadow-xl dark:bg-slate-800 m-4">
        <div class="text-center">
            <div class="flex justify-center items-center gap-2 mb-4">
                <h1 class="text-2xl font-bold tracking-tight text-slate-900 dark:text-white">
                    Sign in
                </h1>
            </div>
        </div>

        <form action="/login" method="post" class="mt-8 space-y-6" id="loginForm">
            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                    <label for="email-address" class="sr-only">Email address</label>
                    <input id="email-address" name="email" type="email" autocomplete="email" required
                        class="relative block w-full px-3 py-2 text-slate-900 placeholder-slate-500 border border-slate-300 rounded-t-md focus:outline-none focus:ring-primary-500 focus:border-primary-500 focus:z-10 sm:text-sm dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white"
                        placeholder="email@example.com" value="<%= user.email ?? '' %>" />
                </div>
                <div>
                    <label for="password" class="sr-only">Password</label>
                    <input id="password" name="password" type="password" autocomplete="current-password" required
                        class="relative block w-full px-3 py-2 text-slate-900 placeholder-slate-500 border border-slate-300 rounded-b-md focus:outline-none focus:ring-primary-500 focus:border-primary-500 focus:z-10 sm:text-sm dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-400 dark:text-white"
                        placeholder="Password" value="pass1234" />
                </div>
            </div>

            <div>
                <button type="submit"
                    class="group relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-sky-600 border border-transparent rounded-md hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">
                    Sign in
                </button>
            </div>
        </form>

        <p class="text-center text-sm text-gray-500 mt-4">
            アカウントをお持ちでない方は
            <a href="/register" class="text-sky-600 hover:text-sky-700 font-medium">アカウントを作成</a>
        </p>
    </div>
</div>