<section class="space-y-8">
    <h2 class="p-3 text-center text-3xl text-red-500 font-bold">Now On Air</h2>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-y-10">
        <% channels.forEach(channel=> { %>
        <%- include('channel', { channel: channel }) %>
        <% }) %>
    </div>
</section>